body {
    background-image: url('fondo.jpg');
}

p {
    text-align: right;
    width: 410px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    color: rgb(92, 5, 5);
    font-size: 35px;
    font-family: sans-serif;
    background-color: white;
    border: 3px solid rgb(7, 50, 99);
    border-radius: 12px;
    /* Propiedades del texto */
    white-space: nowrap;        /* Reduce espacios en blanco, suprime saltos de línea. */
    overflow: hidden;           /* Recorta el contenido y no muestra barras de posición. */
    text-overflow: clip;
}

.calculator {
    display: inline-block;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    width: 450px;
    height: 500px;
    border: 3px solid rgb(7, 50, 99);
    border-radius: 12px;
    background-color: rgb(167, 214, 236);
}    

button {
    width: 70px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 12px;
    margin: 3px;
    font-size: 18px;
    background-color:rgb(25, 104, 156);
    color: white;
    font-family: sans-serif;
}

button:hover {  /* Aclarar botón presionado */
    background-color:rgb(79, 127, 160);
}