html {
    background-image: url("fondoPantalla.jpg")  
}

h1 {
    color: bisque;
}

.recuadros{
    border: 2px red;
    color: royalblue;
    background-color: seashell;
    margin: 8px;
}

p {
    color:coral;
}