html {
    background-image: url("fondodef.jpg");
}

h1 {
    border: 3px solid beige;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.container{
    color: black;
    background-color: honeydew;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    width: 700px;
    height: 300px;
    border: 2px solid beige;
    padding: 65px;
    margin: 20px;
}

.minicontainer{
    color: black;
    background-color: honeydew;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    height: 300px;
    border: 2px solid beige;
    padding: 65px;
    margin: 20px;
}

p {
    border: 2px solid beige;
    color: black;
    background-color: honeydew;
    font-family: 'Courier New', Courier, monospace;
}