html {
    background-image: url("fondodef.jpg");
}

h1 {
    border: 3px solid black;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.container{
    color: black;
    background-color: honeydew;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    width: 735px;
    height: 300px;
    border: 15px solid green;
    padding: 65px;
    margin: 20px;
}

p {
    border: 3px solid black;
    color: black;
    background-color: honeydew;
    font-family: 'Courier New', Courier, monospace;
}