body {
    background-image: url('fondo.jpg');
}

/* Estilo del canvas */

canvas {
    /* margin-left: 430px; Al final */
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 6px;
}